circleci-server-version: "4.9.0"

argocd:
  repository: https://github.com/nanophate-cci/support-cci-server-setup.git

global:
  aws:
    region: ap-southeast-1
  domainFilter: aws.cci.nanophate.com
  domainName: "circleci.aws.cci.nanophate.com"
  otel:
    enabled: true
    collector_host: "jaeger-collector.monitoring.svc.cluster.local"
    collector_port: 4317
    sample_rate: 1.0
  imagePullSecrets:
    - regcred
    - dockerhub-secret
  container:
    # pulls from dockerhub
    registry: ""
    org: "circleci"

machine_provisioner:
  fudgeScaleFactor: 0
  fudgeConstantTerm: 0
  demandFudgeFactor: 0
  providers:
    ec2:
      enabled: true
      region: "ap-southeast-1"
      assignPublicIP: true
      irsaRole: "eks-pod-identity"
      subnets:
        - "subnet-0a7b0940d1356a2a3"
        - "subnet-0c47bb328f01010c1"
        - "subnet-0572d0de429e15ecb"
      securityGroupId: "sg-03fd53bde1a94d926"
      tags:
        owner: "naoya@circleci.com"
        cost_center: "sm"
        Team: "customer_engineering"
        asset_criticality: "false"
        iac: "false"
        critical_until: "2026-12-30"
        Terraform: "false"

# Hack. We are running kong for cert management but need to use annotation to allow external-dns to manage the DNS record.
nginx:
  annotations:
    external-dns.alpha.kubernetes.io/hostname: circleci.aws.cci.nanophate.com, app.circleci.aws.cci.nanophate.com
  resources:
    requests:
      cpu: 50m
      memory: 100Mi
    limits:
      cpu: 100m
      memory: 200Mi

kong:
  acme:
    enabled: true
    email: naoya@circleci.com
  resources:
    requests:
      cpu: 50m
      memory: 1Gi
    limits:
      cpu: 500m
      memory: 2Gi

object_storage:
  bucketName: "nao-tf-circleci-dlc"
  s3:
    enabled: true
    endpoint: https://s3.ap-southeast-1.amazonaws.com
    region: ap-southeast-1
    irsaRole: "eks-pod-identity" # Hack to allow pod identity instead of irsa

github:
  enterprise: false

# Below are the rest, usually don't need to change these
postgresql:
  auth:
    existingSecret: postgresql
mongodb:
  auth:
    existingSecret: mongodb-credentials
rabbitmq:
  internal: true
  auth:
    existingPasswordSecret: rabbitmq
    existingErlangSecret: rabbitmq
tink:
  enabled: true
nomad:
  serverHostname: circleci.aws.cci.nanophate.com
  server:
    replicas: 3
    rpc:
      mTLS:
        enabled: true
telegraf:
  resources:
    requests:
      cpu: 50m
      memory: 100Mi
    limits:
      cpu: 100m
      memory: 200Mi
  service:
    ports:
      - name: statsd
        port: 8125
        protocol: UDP
        targetPort: 8125
      - name: prometheus
        port: 9273
        protocol: TCP
        targetPort: 9273
  config:
    outputs:
      - file:
          files: ["stdout"]
      - prometheus_client:
          listen: ":9273"
          metric_version: 2
          expiration_interval: "60s"
